body {
  background: #0e7e12;
}

.card {
  text-align: center;
  background: white;
  margin: auto;
  height: 400px;
  width: 250px;
  font-size: 80px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}

.borde {
  border: 0px solid black;
}

.top-symbol {
  position: absolute;
  top: 20px;
  left: 20px;
}

.bottom-symbol {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.number {
  text-align: center;
  justify-content: center;
  margin-top: 150px;
}
